.flex {
  display: flex;
}

.tamaño {
  width: 70%;
  aspect-ratio: 1 / 1;
  object-fit: cover;
}

.aliniamiento {
  display: grid;
  grid-template-columns: repeat(3, 300px);
  /* grid-template-rows: 250px;*/
  grid-template-rows: repeat(3, 300px);
  gap: 20px;
}
.fondo {
  background-image: url("Sin\ título.jpeg");
}

.alineamiento-foto {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: black;
}

.columna {
  display: grid;
  grid-template-columns: repeat(3, 300px);
  grid-auto-rows: auto;
  gap: 15px;
}

.colorfondo1 {
  background-color: rgb(56, 216, 149);
  border-radius: 50px;
}

.colorfondo2 {
  background-color: rgb(255, 198, 74);
  border-radius: 50px;
}

.colorfondo3 {
  background-color: rgb(100, 166, 228);
  border-radius: 50px;
}
