.App {
  font-family: Arial, sans-serif;
  margin: 50px;
}

header,
section {
  margin-bottom: 40px;
}

h1,
h2,
h3 {
  color: #12203a;
}

p {
  line-height: 1.4;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
  margin-bottom: 10px;
}

a {
  color: #142c46;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.project,
.experience,
.education {
  margin-bottom: 20px;
}

.title-container {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin: 20px;
}

.line {
  flex: 1;
  border-bottom: 2px solid #19193b; /* Línea horizontal */
  margin: 15px; /* Espaciado alrededor de la línea */
}

.title {
  font-size: 3rem; /* Tamaño del título */
  margin: 0; /* Quitar márgenes por defecto */
}

.encabzado {
  display: flex;
  justify-content: center;
  gap: 60px;
}

ul {
  list-style: none;
}

.card {
  width: 300px; /* Ancho del contenedor */
  border: 1px solid #bb1515; /* Borde del contenedor */
  border-radius: 10px; /* Esquinas redondeadas */
  box-shadow: 0 4px 8px #a80a591a; /* Sombra sutil */
  overflow: hidden; /* Evita que el contenido se desborde */
  background-color: hsl(145, 88%, 37%); /* Fondo blanco */
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 20px;
  margin: 20px; /* Espaciado entre tarjetas */
}

.card-image {
  width: 100%; /* Ancho completo de la tarjeta */
  height: auto; /* Ajusta la altura automáticamente */
  border-bottom: 1px solid #ddd; /* Línea divisoria entre imagen y texto */
}

.card-title {
  margin: 10px 0;
  font-size: 1.5rem;
  color: #333;
}

.card-description {
  font-size: 1rem;
  color: #666;
}

.borde {
  border: 2px solid #838388; /* Cambia el color y el grosor del borde según tu preferencia */
  border-radius: 8px; /* Opcional: añade bordes redondeados */
  padding: 16px; /* Opcional: añade espacio interno */
  margin: 16px; /* Opcional: añade espacio externo */
  background-color: #ffffff; /* Opcional: cambia el color de fondo */
}
